.icons {
	cursor: pointer;
	margin: 10px;
	color: rgba(0, 0, 0, 0.682);
}

.icons:hover {
	color: black;
	transform: scale(1.1);
}

.btnIcon {
	width: 100%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
.btnIcon button {
	border: none;
	background-color: transparent;
}
.btnIcon svg {
	color: rgb(58, 0, 0);
}
.cardSize {
	margin: 15px;
}
